apiVersion: v1
kind: Service
metadata:
  name: semantic-search
  namespace: semantic-search
  labels:
    app: semantic-search
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: semantic-search
